.custom-cursor {
    width: 35px;
    height: 35px;
    background-image: url("/cursor.svg");
    background-size: cover;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translateX(-5px);
}

.pulse-animation {
    animation: pulse-cursor 0.5s ease-in-out infinite;
}

@keyframes pulse-cursor {
    0% {
        transform: scale(1) translateX(-5px);
    }

    50% {
        transform: scale(1.2) translateX(-5px);
    }

    100% {
        transform: scale(1) translateX(-5px);
    }
}